<div class="row" style="overflow: hidden;">	
	<div class="p-3" id="table_wrapper">
		<div class="row">
		<div class="col-10" id="file-wrapper">
			<label class="custom-file">
			  <input type="file" id="file" class="custom-file-input">
			  <span class="custom-file-control"></span>
			</label>
		</div>
		<div class="col-10 hide-column-btns" style="display: none;">
		</div>
		<div class="col-2">
			<a href="#" class="btn btn-outline-primary btn-sm pull-right" id="hide-map-btn"><i class="fa fa-angle-double-right"></i> 隱藏地圖</a>
		</div>
		</div>
		<table class="display" cellspacing="0" width="100%"" id="my-table">
			<thead>
				<tr></tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="px-3 pb-3" id="map_wrapper">
		<%= render_svg "china_maps/China.svg", id: "map_svg" %>
		<div class="clearfix"></div>
	</div>
</div>
<!-- document.querySelector("#Taiwan").style.fill = "#988" -->